<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All tests</title>
</head>
<body>

<div th:each="test: ${tests}">
    <a th:text="${test.getName() + ', ' + test.isValue()}">test</a>

    <form th:method="GET" th:action="@{/tests/{id}/edit(id=${test.getId()})}">
        <input type="submit" value="Edit"/>
    </form>

    <form th:method="DELETE" th:action="@{/tests/{id}(id=${test.getId()})}">
        <input type="submit" value="Delete"/>
    </form>
</div>

<a href="/tests/new">Add test</a>
</body>
</html>