<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show all journals</title>
</head>
<body>

<div th:each="journal: ${allJournals}">
    <a th:href="@{publisher/{id}(id=${journal.getId()})}" th:text="${journal.getName()}">journal</a>

<!--    <form th:method="POST" th:action="@{/publisher/{id}/edit_name(id=${journal.getId()})}" th:object="${journal}">-->
<!--        <label for="name">Enter name: </label>-->
<!--        <input type="text" th:field="*{name}" id="name"/>-->
<!--        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>-->
<!--        <br/>-->
<!--        <input type="submit" value="Create!"/>-->
<!--    </form>-->

    <form th:method="DELETE" th:action="@{/publisher/{id}(id=${journal.getId()})}">
        <input type="submit" value="Delete"/>
    </form>
</div>

<form th:method="GET" th:action="@{/publisher/new}">
    <input type="submit" value="New"/>
</form>

</body>
</html>